---
import Layout from "../layouts/Layout.astro";
import Test from "../components/Test.tsx";
---

<Layout>
    <center>
        <h1>Sean says hi.</h1>
        <p>With a lot of noodles.</p>
        <hr />
        <h2>A literal work in progress</h2>
        <p>Started 2022, December 27 & <Test someText={"28"} /></p>
        <hr />
        <!-- <ul>
            <li>
                <a href="https://mstdn.party/@spjpgrd" target="_blank"
                    >Mastodon</a
                >
            </li>

            <li>
                <a href="http://www.linkedin.com/in/spjpgrd" target="_blank"
                    >LinkedIn</a
                >
            </li>

            <li>
                <a href="https://github.com/SPJPGRD" target="_blank">GitHub</a>
            </li>

            <li>
                <a
                    href="https://geo.itunes.apple.com/profile/spjpgrd?at=10lwgb"
                    target="_blank">Apple Music</a
                >
            </li>
            <li>
                <a href="https://last.fm/user/spjpgrd" target="_blank"
                    >Last.fm</a
                >
            </li>
            <li>
                <a href="https://bandcamp.com/spjpgrd" target="_blank"
                    >Bandcamp</a
                >
            </li>

            <li>
                <a href="http://www.dribbble.com/spjpgrd" target="_blank"
                    >Dribbble</a
                >
            </li>

            <li>
                <a href="http://codepen.io/spjpgrd" target="_blank">CodePen</a>
            </li>
            <li>
                <a href="https://twitter.com/spjpgrd" target="_blank">Twitter</a
                >
            </li>
        </ul> -->
        <ul>
            <li>
                <a href="/on/mastodon"> mastodon</a>
            </li>

            <li>
                <a href="/on/linkedin"> linkedin</a>
            </li>

            <li>
                <a href="/on/github"> github</a>
            </li>

            <li>
                <a href="/on/apple-music"> apple music</a>
            </li>

            <li>
                <a href="/on/last.fm"> last.fm</a>
            </li>

            <li>
                <a href="/on/dribbble"> dribbble</a>
            </li>

            <li>
                <a href="/on/dribble"> dribble</a>
            </li>

            <li>
                <a href="/on/codepen"> codepen</a>
            </li>

            <li>
                <a href="/on/aboutme"> aboutme</a>
            </li>

            <li>
                <a href="/on/angellist"> angellist</a>
            </li>

            <li>
                <a href="/on/wellfound"> wellfound</a>
            </li>

            <li>
                <a href="/on/codeacademy"> codeacademy</a>
            </li>

            <li>
                <a href="/on/cohost"> cohost</a>
            </li>

            <li>
                <a href="/on/delectable"> delectable</a>
            </li>

            <li>
                <a href="/on/designernews"> designernews</a>
            </li>

            <li>
                <a href="/on/discord"> discord</a>
            </li>

            <li>
                <a href="/on/ello"> ello</a>
            </li>

            <li>
                <a href="/on/etsy"> etsy</a>
            </li>

            <li>
                <a href="/on/figma"> figma</a>
            </li>

            <li>
                <a href="/on/fiverr"> fiverr</a>
            </li>

            <li>
                <a href="/on/pinterest"> pinterest</a>
            </li>

            <li>
                <a href="/on/tumblr"> tumblr</a>
            </li>

            <li>
                <a href="/on/500px"> 500px</a>
            </li>

            <li>
                <a href="/on/foursquare"> foursquare</a>
            </li>

            <li>
                <a href="/on/soundcloud"> soundcloud</a>
            </li>

            <li>
                <a href="/on/medium"> medium</a>
            </li>

            <li>
                <a href="/on/flickr"> flickr</a>
            </li>

            <li>
                <a href="/on/stackexchange"> stackexchange</a>
            </li>

            <li>
                <a href="/on/stackoverflow"> stackoverflow</a>
            </li>

            <li>
                <a href="/on/quora"> quora</a>
            </li>

            <li>
                <a href="/on/producthunt"> producthunt</a>
            </li>

            <li>
                <a href="/on/kickstarter"> kickstarter</a>
            </li>

            <li>
                <a href="/on/yelp"> yelp</a>
            </li>

            <li>
                <a href="/on/snapchat"> snapchat</a>
            </li>

            <li>
                <a href="/on/genius"> genius</a>
            </li>

            <li>
                <a href="/on/hypemachine"> hypemachine</a>
            </li>

            <li>
                <a href="/on/hackernews"> hackernews</a>
            </li>

            <li>
                <a href="/on/keybase"> keybase</a>
            </li>

            <li>
                <a href="/on/meetup"> meetup</a>
            </li>

            <li>
                <a href="/on/myfitnesspal"> myfitnesspal</a>
            </li>

            <li>
                <a href="/on/nintendo"> nintendo</a>
            </li>

            <li>
                <a href="/on/rapchat"> rapchat</a>
            </li>

            <li>
                <a href="/on/unsplash"> unsplash</a>
            </li>

            <li>
                <a href="/on/untappd"> untappd</a>
            </li>

            <li>
                <a href="/on/battlenet"> battlenet</a>
            </li>

            <li>
                <a href="/on/venmo"> venmo</a>
            </li>

            <li>
                <a href="/on/squarecash">square cash</a>
            </li>

            <li>
                <a href="/on/square-cash"> square-cash</a>
            </li>

            <li>
                <a href="/on/paypal"> paypal</a>
            </li>

            <a href="/on/vimeo"> vimeo</a>
        </ul>
    </center>
</Layout>
