---
import Layout from "../layouts/Layout.astro";
import Test from "../components/Test.tsx";
---

<Layout>
<center>
    <h1>Sean says hi.</h1>
    <p>With a lot of noodles.</p>
    <hr />
    <h2>A literal work in progress</h2>
    <p>Started 2022, December 27 & <Test someText={"28"} /></p>
    <hr />
    <ul>
        <li>
            <a href="https://mstdn.party/@spjpgrd" target="_blank">Mastodon</a>
        </li>

        <li>
            <a href="http://www.linkedin.com/in/spjpgrd" target="_blank"
                >LinkedIn</a
            >
        </li>

        <li>
            <a href="https://github.com/SPJPGRD" target="_blank">GitHub</a>
        </li>

        <li>
            <a
                href="https://geo.itunes.apple.com/profile/spjpgrd?at=10lwgb"
                target="_blank">Apple Music</a
            >
        </li>
        <li>
            <a href="https://last.fm/user/spjpgrd" target="_blank">Last.fm</a>
        </li>
        <li>
            <a href="https://bandcamp.com/spjpgrd" target="_blank">Bandcamp</a>
        </li>

        <li>
            <a href="http://www.dribbble.com/spjpgrd" target="_blank"
                >Dribbble</a
            >
        </li>

        <li>
            <a href="http://codepen.io/spjpgrd" target="_blank">CodePen</a>
        </li>
        <li>
            <a href="https://twitter.com/spjpgrd" target="_blank">Twitter</a>
        </li>
    </ul>
</center>
</Layout>
