<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>A website being fleshed out as you watch | SPJPGRD</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=yes"
    />
    <meta name="application-name" content="SPJPGRD" />
    <meta
      name="description"
      content="A website being fleshed out as you watch"
    />
    <meta name="creator" content="spjpgrd" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SPJPGRD" />
    <meta
      property="og:description"
      content="A website being fleshed out as you watch"
    />
    <meta property="og:determiner" content="" />
    <meta property="og:site_name" content="SPJPGRD" />
    <meta name="twitter:title" content="SPJPGRD" />
    <meta
      name="twitter:description"
      content="A website being fleshed out as you watch"
    />
    <meta name="twitter:site" content="@spjpgrd" />
    <meta name="twitter:creator" content="@spjpgrd" />
    <meta name="apple-mobile-web-app-title" content="SPJGPRD" />
    <meta name="application-name" content="SPJGPRD" />
    <link rel="icon" type="image/svg" sizes="16x16" href="/favicon.svg" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body
    style="max-width: 70ch; margin: 2rem auto; padding: 1rem; font-family: 'Operator Mono',ui-monospace,Menlo, Monaco,'Cascadia Mono', 'Segoe UI Mono','Roboto Mono','Oxygen Mono','Ubuntu Monospace','Source Code Pro','Fira Mono','Droid Sans Mono','Courier New', monospace; line-height: 150%; background-color: #F8F0E3; color: #363031"
  >
    <slot name="main" />
    <hr />
    <slot name="footer" />
  </body>
</html>
